<div class="cont-taps">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 mt-3" >
      <!-- Nav tabs -->
      <div class="tabset">
        <!-- Tab 1 -->

        <input type="radio" name="tabset" id="tab1" aria-controls="operacion" checked>
        <label for="tab1">Operación</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="indicadores">
        <label for="tab2" class="text-center">Indicadores</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="informacion">
        <label for="tab3" class="text-right">Información Cliente</label>

        <div class="tab-panels">
          <section id="operacion" class="tab-panel">
            <p>Indique la linea de crédito que quiere reconsiderar</p>
            <div class="row my-5 center-center">
              <div class="card-btn">
                <img src="assets/images/icon-cartera.png" />
                <p>Cartera ordinaria</p>

                <div class="bt">Continuar</div>
              </div>
              <div class="card-btn">
                <img src="assets/images/icon-leasing.png" />
                <p>Leasing</p>

                <div class="bt">Continuar</div>
              </div>
            </div>
            <div class="alert alert-warning center-star" role="alert">
              <img src="assets/images/alerta.png" />
              <span>Las demas lineas de crédito no estarán disponibles por el momento</span>
            </div>
          </section>
          <section id="indicadores" class="tab-panel">
            ...
          </section>
          <section id="informacion" class="tab-panel">
            ...
          </section>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
