<header class="header">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-auto hidden-lg">
        <a href="#"><img src="assets/images/prev.png" /></a>
      </div>
      <div class="col-auto">
        <img class="img-fluid logo" src="assets/images/logo.png" />
      </div>
      <div class="col-auto hidden-lg">
        <a href="#"><img src="assets/images/icon-menu.png" /></a>
      </div>
      <div class="col-auto hidden-md">
        <div class="card-user d-flex justify-content-between align-items-center">
          <p class="mr-5">Carlos Gómez<br><span>Gerente de Relación</span></p>
          <div class="img-user">
            <img class="icon-user" src="assets/images/img-user.png" />
            <img class="subir-img" src="assets/images/subir.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
